{% extends 'base.html' %}
{% load static %}

{% block title %}Contact | GSURF{% endblock %}

{% block content %}

<!-- ================= HERO ================= -->

<section class="hero"
style="background-image:url('{% static 'images/climate.jpeg' %}');">

    <div class="container">

        <div class="hero-content text-center">

            <h1>Contact GSURF</h1>

            <p class="lead">

                Let's work together to create resilient, inclusive and sustainable cities.

            </p>

        </div>

    </div>

</section>



<!-- ================= CONTACT ================= -->

<section>

<div class="container">

<div class="section-title">

<h2>

Get In Touch

</h2>

<p>

Whether you have a research inquiry, partnership proposal or general question,
our team is ready to assist you.

</p>

</div>


<div class="row g-5">




<!-- Contact Information -->

<div class="col-lg-5">


<div class="contact-info-card">


<h3>

Contact Information

</h3>

<hr>



<div class="contact-item">

<i class="bi bi-telephone-fill"></i>

<div>

<h5>Phone</h5>

<p>+263 78 208 1215</p>
<p>+61466 154 916</p>
</div>

</div>



<div class="contact-item">

<i class="bi bi-envelope-fill"></i>

<div>

<h5>Email</h5>
<p>info@gsurfglobal.org</p>

<p>gsurf.forum@gmail.com</p>

</div>

</div>



<div class="contact-item">

<i class="bi bi-globe"></i>

<div>

<h5>Website</h5>

<p>www.gsurf.org</p>

</div>

</div>



<hr>



<h5 class="mb-3">

Follow GSURF

</h5>


<div class="social-icons">

<a href="https://www.facebook.com/gsurforum"><i class="bi bi-facebook"></i></a>

<a href="https://www.linkedin.com/company/gsurf-forum"><i class="bi bi-linkedin"></i></a>

<a href="https://x.com/KIntauno"><i class="bi bi-twitter-x"></i></a>

<a href="https://www.instagram.com/gsurf_global?igsh=cngwcW4zOHp6NXRs "><i class="bi bi-instagram"></i></a>

<a href="https://www.youtube.com/@GSURForum"><i class="bi bi-youtube"></i></a>

</div>



</div>


</div>






<!-- Contact Form -->

<div class="col-lg-7">


<div class="contact-form-card">


{% if success %}

<div class="alert alert-success">

Thank you! Your message has been sent successfully.

</div>

{% endif %}



<h3 class="mb-4">

Send Us a Message

</h3>


<form method="POST">

{% csrf_token %}

{{ form.as_p }}


<button class="btn btn-success btn-lg">

Send Message

</button>

</form>


</div>


</div>



</div>

</div>

</section>





<!-- ================= MAP ================= -->

<section class="pb-5">

<div class="container">

<div class="section-title">

<h2>

Our Location

</h2>

</div>


<div class="map-container">

<iframe

src="https://www.google.com/maps?q=Harare,Zimbabwe&output=embed"

width="100%"

height="450"

style="border:0;"

loading="lazy">

</iframe>

</div>


</div>

</section>

{% endblock %}